<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Modulo5_KatlheenRodriguez</display-name>
  
  <welcome-file-list>
  	<welcome-file>inicio.jsp</welcome-file>
  	<welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

<servlet>
	<servlet-name>Inicio</servlet-name>
	<servlet-class>controlador.InicioControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Cap_Creada</servlet-name>
	<servlet-class>controlador.CapCreadaControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Contacto</servlet-name>
	<servlet-class>controlador.ContactoEnvControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Crear_Capacitacion</servlet-name>
	<servlet-class>controlador.CrearCapacitacionControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Crear_Usuario</servlet-name>
	<servlet-class>controlador.CrearUsuarioControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Listado_Usuarios</servlet-name>
	<servlet-class>controlador.ListadoUsuariosControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Listado_Clientes</servlet-name>
	<servlet-class>controlador.ListadoClientesControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Listado_Prof</servlet-name>
	<servlet-class>controlador.ListadoProfControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Listado_Adm</servlet-name>
	<servlet-class>controlador.ListadoAdmControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Listar_Capacitaciones</servlet-name>
	<servlet-class>controlador.ListarCapacitacionesControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>controlador.LoginControlador</servlet-class>
</servlet>

<servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>controlador.LogoutControlador</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Inicio</servlet-name>
	<url-pattern>/</url-pattern>
</servlet-mapping>

</web-app>